header, .description-textarea, .field-table td, .title-div, .due-date-div, .finished-at-div {
    background-color: white;
}

body {
    background-color: darkgray;
}

footer, .filter-bar {
    background-color: #c0c0c0;
}

.field-table  {
    background-color: chocolate;
}

#errorMessage {
    color: coral;
}

.note-entry-div:nth-child(7n + 1) {
    background-color: red;
}
.note-entry-div:nth-child(7n + 2) {
    background-color: orange;
}
.note-entry-div:nth-child(7n + 3) {
    background-color: yellow;
}
.note-entry-div:nth-child(7n + 4) {
    background-color: green;
}
.note-entry-div:nth-child(7n + 5) {
    background-color: lightblue;
}
.note-entry-div:nth-child(7n + 6) {
    background-color: blue;
}
.note-entry-div:nth-child(7n + 7) {
    background-color: darkviolet;
}

