header, .description-textarea, .field-table td, .title-div, .due-date-div, .finished-date-div {
    background-color: beige;
}

body {
    background-color: gray;
}

footer, .filter-bar {
    background-color: #c0c0c0;
}

.field-table  {
    background-color: #e7e7e7;
}

#errorMessage {
    color: red;
}

.note-entry-div:nth-child(2n) {
    background-color: #a4a4a4;
}

.note-entry-div:nth-child(2n + 1) {
    background-color: #e4e4e4;
}

