.toggle {
    display: none;
}

.toggle + label {
    padding: 5px;
    font-size:13.3333px;
    font-family: Arial;
    border-width: 1px;
    border-style: outset;
    background-image: linear-gradient(to top,#dedede,#f6f6f6);
}

.toggle + label:hover {
    background-image: linear-gradient(to top,#cecece,#e6e6e6);
}

.toggle:checked + label {
    background-image: linear-gradient(to bottom,#dedede,#f6f6f6);
}

.toggle:checked + label:hover {
    background-image: linear-gradient(to bottom,#cecece,#e6e6e6);
}

.toggle-left + label {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.toggle-right + label {
    margin-right: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
