/* start: notes list */
.noteEntry, .dueDate, .finishedDate, .titleDiv {
    padding: 0.5em;
}

.dueDate, .finishedDate, .titleDiv, .descriptionTextarea {
    border-radius: 0.5em;
}

.noteEntry {
    display: flex;
    margin: 0;
}

.firstColumn {
    flex-basis: 14em;
    display: flex;
    margin-right: 0.5em;
    flex-flow: wrap;
}

.dueDate, .finishedDate {
    box-sizing: border-box;
    flex: 0 0 100%;
}

.finishedDate {
    margin-top: 0.5em;
}

.secondColumn {
    flex-grow: 1;
    display: flex;
    flex-flow: wrap;
}

.titleDiv {
    flex: 1;
    min-height: 1em;
    display: flex;
}

.priorityCiv {
    padding: 0 0.5em;
}

.descriptionTextarea {
    margin-top: 0.5em;
    box-sizing: border-box;
    flex: 1 0 100%;
    resize: vertical;
    padding: 0.25em 0.5em 0.25em;
}

.editButton {
    flex-basis: 6em;
    margin-left: 0.5em;
}

.grayscale {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

/* end: notes list */
/* start: page control */
#content{
    padding-top: 3em;
}

.overviewPage {
    display: block;
}

.detailPage {
    display: none;
}
/* end: page control */
/* start: common */
body {
    margin: 0px;
    padding: 0px;
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
}

header{
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    height: 3em;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0.5em;
    z-index: 10000;
}

header > h1 {
    padding: 0px;
    margin: 0px;
}

footer {
    padding: 0.5em;
    display: flex;
    justify-content: space-between;
}

.grayscale {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}
/* end: common */
/* start: filter and order */
.filterBar {
    margin: 0px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.orderWrapper {
    display: flex;
    padding: 0px;
}
/* end: filter and order */
/* start: note edit page */
.fieldTable  {
    margin: 0;
    width: 100%;
}

.fieldTable, .fieldTable td {
    padding: 0.4em;
}

.buttonField {
    display: flex;
    box-sizing: border-box;
    justify-content: flex-end;
}

.buttonField button {
    margin: 0 0 0 0.5em;
    padding: 0 2em 0;
    height: 2em;
}

.fieldTable tr td:first-child {
    width: 14em;
}

#titleField, #descriptionField {
    box-sizing: border-box;
    width: 100%;
    resize: vertical;
}

#titleField:invalid, #descriptionField:invalid, #dueDateField:invalid {
    border: 2px solid red;
}

#titleField:valid, #descriptionField:valid, #dueDateField:valid {
    border: 1px solid green;
}

#errorMessage {
    padding: 0.5em;
}
/* end: note edit page*/