header, .descriptionTextarea, .fieldTable td, .titleDiv, .dueDateDiv, .finishedDateDiv {
    background-color: white;
}

body {
    background-color: darkgray;
}

footer, .filterBar {
    background-color: #c4c4c4;
}

.fieldTable  {
    background-color: chocolate;
}

#errorMessage {
    color: coral;
}

.note-entry-div:nth-child(7n + 1) {
    background-color: red;
}
.note-entry-div:nth-child(7n + 2) {
    background-color: orange;
}
.note-entry-div:nth-child(7n + 3) {
    background-color: yellow;
}
.note-entry-div:nth-child(7n + 4) {
    background-color: green;
}
.note-entry-div:nth-child(7n + 5) {
    background-color: lightblue;
}
.note-entry-div:nth-child(7n + 6) {
    background-color: blue;
}
.note-entry-div:nth-child(7n + 7) {
    background-color: darkviolet;
}

