header, .descriptionTextarea, .fieldTable td, .titleDiv, .dueDate, .finishedDateDiv {
    background-color: beige;
}

body {
    background-color: gray;
}

footer, .filterBar {
    background-color: #c0c0c0;
}

.fieldTable  {
    background-color: #e7e7e7;
}

#errorMessage {
    color: red;
}

.noteEntry:nth-child(2n) {
    background-color: #a4a4a4;
}

.noteEntry:nth-child(2n + 1) {
    background-color: #e4e4e4;
}

