body {
    background-color: gray;
    margin: 0px;
    padding: 0px;
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
}

header {
    display: flex;
}

header > h1 {
    padding: 0px;
    margin: 0px;
}

header select {
    margin-left: auto;
}

.filter-bar {
    background-color: lightgray;
}

.filter-bar {
    display: flex;
}

.filter-bar > p{
    margin: 0px;
    padding: 10px 10px 0 0;
    line-height: 0px;
    text-align: center;
}

header, .note-bar {
    background-color: white;
}

header, .filter-bar {
    margin: 0px;
    padding: 10px;
}

.note-bar {
    margin: 0px;
}

.filter-wrapper {
    display: flex;
    width: 100%;
}

.order-wrapper {
    display: flex;
    padding: 0px;
}

.filter-wrapper>.filter-item:nth-last-child(1){
    margin-left: auto;
}

/* Note Entries */
.note-entry {
    padding: 5px;
    margin: 0;
    width: 100%;
    background-color: #eeeeee;
}

.note-title, .note-description, .note-due-date, .note-finished {
    background-color: white;
    padding: 5px;
}

.note-due-date, .note-finished {
    margin: 5px;
}

.note-due-date > div{
    width: 200px;
}

.note-title, .note-description {
    width: 100%;
}

.note-description {
    padding: 0;
}

.note-importance {
    padding: 0px 5px 0px;
}

.note-edit {
    background-color: red;
    padding: 0px;
}

.note-edit button {
    margin: 0px;
    padding: 0px;
    width: 80px;
    height: 100%;
}
