/* temporary switch show show or not without javascript */
/* Set the "display" attribute of ".overview-page" to "block" to show the overview-page or to "none" if you don't want to see it.*/
.overview-page {
    display: block;
}
/* Set the "display" attribute of ".new-note-page" to "block" to show the new-note-page or to "none" if you don't want to see it.*/
.new-note-page {
    display: block;
}

body {
    background-color: gray;
    margin: 0px;
    padding: 0px;
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
}

header{
    display: flex;
}

header > h1 {
    padding: 0px;
    margin: 0px;
}

header select {
    margin-left: auto;
}

.filter-bar {
    background-color: #c0c0c0;
}

.filter-bar {
    display: flex;
}

.filter-bar > p{
    margin: 0px;
    padding: 10px 10px 0 0;
    line-height: 0px;
    text-align: center;
}

header, .note-bar {
    background-color: white;
}

header, .filter-bar {
    margin: 0px;
    padding: 10px;
}

.note-bar {
    margin: 0px;
}

.filter-wrapper {
    display: flex;
    width: 100%;
}

.order-wrapper {
    display: flex;
    padding: 0px;
}

.filter-wrapper>.filter-item:nth-last-child(1){
    margin-left: auto;
}

.note-entry, .field-table  {
    padding: 5px;
    margin: 0;
    width: 100%;
}

.note-entry:nth-child(2n) {
    background-color: #f4f4f4;
}

.note-entry:nth-child(2n + 1) {
    background-color: #e4e4e4;
}

.note-title, .note-description, .note-due-date, .note-finished, .field-table td {
    background-color: white;
    padding: 5px;
}

.note-due-date, .note-finished {
    margin: 5px;
}

.note-due-date > div{
    width: 200px;
}

.note-title, .note-description {
    width: 100%;
}

.note-description {
    padding: 0;
}

.note-description > textarea {
    resize: vertical;
    width: 100%;
}

.note-importance {
    padding: 0px 5px 0px;
}

.note-importance > div{
    width: 136px;
}

.note-importance > div > img:last-child, .important-field > img:last-child {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.note-edit {
    padding: 0px;
}

.note-edit button {
    margin: 0px;
    margin-left: 10px;
    padding: 0px;
    width: 80px;
    height: 100%;
}

.button-field button {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 2em;
}

.field-table {
    background-color: #e4e4e4;
}

.field-table tr td:first-child {
    width: 200px;
}

#title-field, #description-field {
    width: 100%;
}

.field-table td {
    padding: 5px;
}

.button-field button:nth-child(2) {
    margin-top: 10px;
    width: 200px;
    float: right;
}